<div class="pl-container">
        <nav class="pl-sidebar">
            <ul class="nav nav-stacked">

                <li class="category">foundation</li>

                <li class="active">
                    <a href="/designpatterns/1.x/docs/foundation/colors.html"> Colors </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/foundation/grid.html"> Grid </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/foundation/icons.html"> Icons </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/foundation/layouts.html"> Layouts </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/foundation/links.html"> Links </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/foundation/typography.html"> Typography </a>
                </li>

                <li class="category">components</li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/alerts.html"> Alerts and notifications </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/breadcrumbs.html"> Breadcrumbs </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/buttons.html"> Buttons </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/collapsiblePanels.html"> Collapsible panels </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/dialogs.html"> Dialogs </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/formControls.html"> Form controls </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/forms.html"> Forms </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/labelsAndBadges.html"> Labels and badges </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/menus.html"> Menus </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/metadata.html"> Metadata </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/pagination.html"> Pagination </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/popovers.html"> Popovers </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/progressBars.html"> Progress and loading </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/stepIndicators.html"> Step indicators </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/tables.html"> Tables </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/tabs.html"> Tabs </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/tags.html"> Tags </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/components/tooltips.html"> Tooltips </a>
                </li>

                <li class="category">patterns</li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/cards.html"> Cards </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/dataFormats.html"> Data formats </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/fileUpload.html"> File upload </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/filters.html"> Filters </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/help.html"> Help </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/search.html"> Search </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/settings.html"> Settings </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/tours.html"> Tours </a>
                </li>

                <li>
                    <a href="/designpatterns/1.x/docs/patterns/wizards.html"> Wizards </a>
                </li>

                <li class="category">inspiration</li>

                <li>
                    <a target="_blank" href="/designpatterns/1.x/docs/inspiration/dashboard.html"> Dashboard </a>
                </li>

                <li>
                    <a target="_blank" href="/designpatterns/1.x/docs/inspiration/gadgets.html"> Gadgets </a>
                </li>

                <li>
                    <a target="_blank" href="/designpatterns/1.x/docs/inspiration/help.html"> Help </a>
                </li>

                <li>
                    <a target="_blank" href="/designpatterns/1.x/docs/inspiration/marketing.html"> Marketing </a>
                </li>

                <li>
                    <a target="_blank" href="/designpatterns/1.x/docs/inspiration/master-detail-app.html"> Master detail </a>
                </li>

                <li>
                    <a target="_blank" href="/designpatterns/1.x/docs/inspiration/search-results.html"> Customize search results </a>
                </li>

                <li>
                    <a target="_blank" href="/designpatterns/1.x/docs/inspiration/user-profile.html"> User profile </a>
                </li>

            </ul>
        </nav>
